
@{
    ViewBag.Title = "Company";
}

<div class="container-fluid gridBody">
    <label id="lblmsg" style="display:none"></label>
    <asp:HiddenField ID="lblUserId" runat="server" />
    <div class="buttonCon pull-right">

        <button type="button" class="btn templateBg" onclick="javascript: document.location.href='../Master/HRareapage.aspx'">
            <img src="~/Content/images/home-icon.png" />Home
        </button>
    </div>
    <h5>COMPANY</h5>
    <div class="row">
        <div class="col-12 col-md-4 col-sm-3 col-lg-7">
            <div class="buttonCon pull-left">
                
                <button type="button" class="btn templateBg" placeholder="Add New" onclick="javascript: document.location.href='../HRPayroll/organizationPages/localization.aspx'"><img src="~/Content/images/new-icon.png" />Add New</button>

            </div>
        </div>

        <div class="col-12 col-md-8 col-sm-9 pull-right col-lg-5 top-space">
            <div class="show pull-left col-6 col-md-6 pl-5 pr-0 no-space">
                <p>Show</p>
                <form>
                    <div class="form-group">
                        <div class="styled-select slate">
                            <select class="form-control" id="country" name="country">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                            </select>
                        </div>
                    </div>

                </form>
                <p>Entries</p>
            </div>
            <div class="input-group mb-2 col-6 col-md-6 pull-right pl-0">
                <input class="form-control border-secondary" type="search" placeholder="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <img src="~/Content/images/search-icon.png" alt="search" />
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div id="tblegalDiv">
            <table class="table greyBorder mb-4">
                <thead>
                    <tr class="lightGreen">
                        <th>HEADING 1</th>
                        <th>HEADING 2</th>
                        <th>HEADING 3</th>
                        <th>HEADING 4</th>
                        <th>HEADING 5</th>
                        <th>HEADING 6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                    </tr>
                    <tr class="lightGrey">
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                    </tr>
                    <tr class="lightGrey">
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                    </tr>
                    <tr class="lightGrey">
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                    </tr>
                    <tr class="lightGrey">
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                    </tr>
                 

                </tbody>
            </table>
        </div>
    </div>


    <div class="buttonCon pull-left mt-3 mb-3">

     
        <button type="button" class="btn templateBg" data-toggle="modal" data-target="#deletePopup"><img src="~/Content/images/delete-icon.png" alt="delete" />Delete</button>

    </div>
</div>

