
@{
    ViewBag.Title = "CreateComplaint";
}

<body>
    <div class="container-fluid gridBody " id="form2">

        <div class="center-block">
            <div class="panel-group">
                <div class="panel active">
                    <div class="panel-head">
                        <div class="panel-title">
                            <h5 style="text-transform:uppercase">All Complaints/Grievances</h5>
                        </div>
                    </div>
                    <div class="formBody clearfix">
                        <form>
                            <div class="pull-left col-4 col-md-4">
                                <div class="form-inline">
                                    <label for="department">Type:</label>

                                    <select class="form-control col-7 col-md-7" name="quantity" style="height:25px" id="dropSelect">
                                        <option value="Select">Select</option>
                                        <option value="Grievance">Grievance</option>
                                        <option value="Complaint">Complaint</option>
                                    </select>

                                </div>
                            </div>

                        </form>
                    </div>


                </div>
                <div class="clearfix"></div>
                <div class="panel panel-default clearfix">


                    <div class="formBody clearfix top-border">

                        <div class="formBody clearfix pl-0 ">
                            <form>
                                <div class="pull-left col-6 col-md-6">
                                    <div class="form-inline">
                                        <label for="Date">Date:</label>
                                        <input type="text" id="datepicker" class="form-control col-7 col-md-7 ptb-4 hasDatepicker" name="Date" placeholder="dd/mm/yyyy">
                                    </div>
                                    <div class="form-inline">
                                        <label for="Employee">Employee Name:</label>

                                        <select class="form-control col-7 col-md-7" style="height:25px" name="Employee">
                                            <option value="0">Select</option>
                                            <option>Employee 1</option>
                                            <option>Employee 2</option>
                                            <option>Employee 3</option>
                                            <option>Employee 4</option>
                                        </select>

                                    </div>
                                    <div class="form-inline">
                                        <label for="Department">Department:</label>
                                        <input type="text" class="form-control col-7 col-md-7" id="department" name="Department" placeholder="Department" readonly>
                                    </div>
                                    <div class="form-inline">
                                        <label for="manager">Manager Name:</label>

                                        <select class="form-control col-7 col-md-7" style="height:25px" name="manager">
                                            <option>Select</option>
                                            <option>Manager 1</option>
                                            <option>Manager 2</option>
                                            <option>Manager 3</option>
                                            <option>Manager 4</option>
                                            <option>Manager 5</option>
                                        </select>

                                    </div>

                                    <div id="grievance" style="display:none;">
                                        <div class="form-inline">
                                            <label for="Person involved">Name of person involved:</label>
                                            <textarea type="text" class="form-control col-7 col-md-7" id="description" style="min-height: 20px;" name="Description" placeholder=""></textarea>
                                        </div>
                                        <div class="form-inline">
                                            <label for="Policies">Policies, Procedures violated:</label>
                                            <textarea type="text" class="form-control col-7 col-md-7" id="policies" style="min-height: 20px;" name="Policies" placeholder=""></textarea>
                                        </div>
                                        <div class="form-inline">
                                            <label for="Proposed Solution">Proposed Solution:</label>
                                            <textarea type="text" class="form-control col-7 col-md-7" id="proposed" style="min-height: 20px;" name="Proposed Solution" placeholder=""></textarea>
                                        </div>

                                    </div>
                                    <div id="complaint" style="display:none;">
                                        <div class="form-inline">
                                            <label for="manager">Colleague's Name:</label>

                                            <select class="form-control col-7 col-md-7" style="height:25px" name="Colleague">
                                                <option>Select</option>
                                                <option>Colleague 1</option>
                                                <option>Colleague 2</option>
                                                <option>Colleague 3</option>
                                                <option>Colleague 4</option>
                                            </select>

                                        </div>
                                        <div class="form-inline">
                                            <label for="manager">Colleague's Department:</label>

                                            <select class="form-control col-7 col-md-7" style="height:25px" name="Colleague">
                                                <option>Select</option>
                                                <option>Department 1</option>
                                                <option>Department 2</option>
                                                <option>Department 3</option>
                                                <option>Department 4</option>
                                            </select>

                                        </div>
                                        <div class="form-inline">
                                            <label for="Description">Description:</label>
                                            <textarea type="text" class="form-control col-7 col-md-7" id="desc" style="min-height: 20px;" name="Description" placeholder=""></textarea>
                                        </div>


                                    </div>

                                </div>

                            </form>
                        </div>

                    </div>

                </div>


                <div class="buttonCon pull-right">
                    <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='appraisal.html'">Send Complaint</button>
                    <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='appraisal.html'">Cancel</button>
                </div>

            </div>
        </div>

    </div>
    <script>
        jquery_1_11_3_min_p(document).ready(function () {
            jquery_1_11_3_min_p('#dropSelect').on('change', function () {
                if (this.value == 'Grievance') {
                    jquery_1_11_3_min_p("#grievance").show();
                }
                else {
                    jquery_1_11_3_min_p("#grievance").hide();
                }
            });
            jquery_1_11_3_min_p('#dropSelect').on('change', function () {
                if (this.value == 'Complaint') {
                    jquery_1_11_3_min_p("#complaint").show();
                }
                else {
                    jquery_1_11_3_min_p("#complaint").hide();
                }
            });


        })
    </script>
    <script>
        jquery_1_12_1_min_p(function () {
            jquery_1_12_1_min_p("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:2018'
            });
            jquery_1_12_1_min_p("#txtStartdate").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1990:2022'
            });
            jquery_1_12_1_min_p("#txtLastday").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1990:2022'
            });
            jquery_1_12_1_min_p("#txtTerminationDate").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1990:2022'
            });
        });
    </script>
</body>

