
@{
    ViewBag.Title = "CreateComplaint";
}
<html>
<head>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script>var jquery_1_12_1_min_p = jQuery.noConflict();</script>


</head>
<body>
    <div class="container-fluid gridBody " id="form2">

        <div class="center-block">
            <div class="panel-group">
                <div class="panel active">
                    <div class="panel-head">
                        <div class="panel-title">
                            <h5 style="text-transform:uppercase">All Complaints/Grievances</h5>
                        </div>
                    </div>
                    <div class="formBody clearfix">
                        <form>
                            <div class="pull-left col-4 col-md-4">
                                <div class="form-inline">
                                    <label for="department">Type:</label>

                                    <select class="form-control col-7 col-md-7" name="quantity" style="height:25px" id="dropSelect">
                                        <option value="Select">Select</option>
                                        <option value="Complaint">Complaint</option>
                                        <option value="Grievance">Grievance</option>
                                    </select>

                                </div>
                            </div>

                        </form>
                    </div>


                </div>
                <div class="clearfix"></div>
                <div class="panel panel-default clearfix">


                    <div class="formBody clearfix top-border">

                        <div class="formBody clearfix pl-0 ">
                            <form>
                                <div class="pull-left col-6 col-md-6">
                                    <div class="form-inline">
                                        <label for="Date">Date:</label>
                                        <input type="text" id="datepicker" class="form-control col-7 col-md-7 ptb-4" name="Date" placeholder="dd/mm/yyyy">
                                    </div>
                                    <div class="form-inline">
                                        <label for="Employee">Employee Name:</label>
                                        <input type="text" class="form-control col-7 col-md-7" id="employee" name="Employee" placeholder="Employee" readonly>
                                    </div>
                                    <div class="form-inline">
                                        <label for="Department">Department:</label>
                                        <input type="text" class="form-control col-7 col-md-7" id="department" name="Department" placeholder="Dot Net" readonly>
                                    </div>
                                    <div class="form-inline">
                                        <label for="Designation">Designation:</label>
                                        <input type="text" class="form-control col-7 col-md-7" id="designation" name="Designation" placeholder="Developer" readonly>
                                    </div>
                                    <div class="form-inline">
                                        <label for="Designation">Manager:</label>
                                        <input type="text" class="form-control col-7 col-md-7" id="manager" name="Manager" placeholder="Manager" readonly>
                                    </div>
                                    <div id="complaint" style="display:none;">
                                        <div class="form-inline">
                                            <label for="Complaint">Complaint Against:</label>

                                            <select class="form-control col-7 col-md-7" style="height:25px" name="Employee">
                                                <option>Select</option>
                                                <option>Employee 1</option>
                                                <option>Employee 2</option>
                                                <option>Employee 3</option>
                                                <option>Employee 4</option>
                                            </select>

                                        </div>
                                        
                                        <div class="form-inline">
                                            <label for="Description">Complaint:</label>
                                            <textarea type="text" class="form-control col-7 col-md-7" id="desc" style="min-height: 20px;" name="Description" placeholder=""></textarea>
                                        </div>
                                        <div class="buttonCon col-12 col-md-12 pull-left mt-3 p-0">
                                            <button type="button" id="btnEdit" class="btn templateBg col-3 col-md-2">Submit</button>
                                            <button type="submit" class="btn templateBg col-3 col-md-2" data-toggle="modal" data-target="#successPopup">Save</button>
                                            <button type="button" id="btnDelete" class="btn templateBg col-3 col-md-2">Cancel</button>
                                        </div>

                                    </div>

                                    <div id="grievance" style="display:none;">
                                        <div class="form-inline">
                                            <label for="GrievanceType">Grievance Type:</label>

                                            <select class="form-control col-7 col-md-7" style="height:25px" name="Employee">
                                                <option>Select</option>
                                                <option>Harassment</option>
                                                <option>Molestation</option>
                                                <option>Bad Behaviour</option>
                                             
                                            </select>

                                        </div>
                                        <div class="form-inline">
                                            <label for="GrievanceAgainst">Grievance Against:</label>

                                            <select class="form-control col-7 col-md-7" style="height:25px" name="Employee">
                                                <option>Select</option>
                                                <option>Employee 1</option>
                                                <option>Employee 2</option>
                                                <option>Employee 3</option>
                                                <option>Employee 4</option>
                                            </select>

                                        </div>

                                        <div class="form-inline">
                                            <label for="Grievance">Grievance:</label>
                                            <textarea type="text" class="form-control col-7 col-md-7" id="desc" style="min-height: 20px;" name="Description" placeholder=""></textarea>
                                        </div>
                                        <div class="buttonCon col-12 col-md-12 pull-left mt-3 p-0">
                                            <button type="button" id="btnEdit" class="btn templateBg col-3 col-md-2">Submit</button>
                                            <button type="submit" class="btn templateBg col-3 col-md-2" data-toggle="modal" data-target="#successPopup">Save</button>
                                            <button type="button" id="btnDelete" class="btn templateBg col-3 col-md-2">Cancel</button>
                                        </div>

                                    </div>

                                </div>

                            </form>
                        </div>

                    </div>

                </div>


                <div class="buttonCon pull-right">
                    <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='appraisal.html'">Send Complaint</button>
                    <button type="submit" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='appraisal.html'">Cancel</button>
                </div>

            </div>
        </div>

    </div>
    <script>
        jquery_1_12_1_min_p(function () {
            jquery_1_12_1_min_p("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:2018'
            });
            jquery_1_12_1_min_p("#txtStartdate").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1990:2022'
            });
            jquery_1_12_1_min_p("#txtLastday").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1990:2022'
            });
            jquery_1_12_1_min_p("#txtTerminationDate").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1990:2022'
            });
        });
    </script>
    <script>
        jquery_1_11_3_min_p(document).ready(function () {
            jquery_1_11_3_min_p('#dropSelect').on('change', function () {
                if (this.value == 'Grievance') {
                    jquery_1_11_3_min_p("#grievance").show();
                }
                else {
                    jquery_1_11_3_min_p("#grievance").hide();
                }
            });
            jquery_1_11_3_min_p('#dropSelect').on('change', function () {
                if (this.value == 'Complaint') {
                    jquery_1_11_3_min_p("#complaint").show();
                }
                else {
                    jquery_1_11_3_min_p("#complaint").hide();
                }
            });


        })
    </script>

</body>
</html>
