@{
    ViewBag.Title = "CreatenewRequisition";
}


<div class="container-fluid gridBody " id="form2">


    <div class="center-block">
        <div class="panel-group">
            <div class="panel active">
                <div class="panel-head">
                    <div class="panel-title">
                        <div class="buttonCon pull-right pb-1">


                        </div>


                        <div class="row">
                            <div class="col-12 col-md-6">
                                <h6 style="color:black!important">CREATE NEW REQUISITION</h6>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="button" id="btnBackR" onclick="NewRequisition()" class="btn templateBg  pull-right" value="Back" placeholder="Back" />



                            </div>
                        </div>



                    </div>
                </div>
                <div class="scrollbar scroll-style hts" id="DivRequisitionForm">
                    <div class="">
                        <div class="formBody clearfix top-border">
                            <form>
                                <div class="pull-left col-12 col-md-6">
                                    <div class="form-inline">
                                        <label for="Requisition ID">Requisition ID:</label>
                                        <div class="col-7 col-md-7 p-0">
                                            <input type="text" class="form-control col-12 col-md-12" name="Requisition ID" placeholder="Requisition ID" readonly style="width:100%" />
                                        </div>

                                    </div>

                                    <div class="form-inline">
                                        <label for="department">Designation/Profile:</label><div id="DivDepartmentReq" class="col-7 col-md-7 p-0">
                                            <input type="text" class="form-control col-12 col-md-12" id="ddlDepartmentReq" name="department" placeholder="Dot Net" style="width:100%" />
                                        </div>
                                        <label class="col-7 col-md-7 p-0" style="display:none" id="lblDepartmentReq"></label>
                                    </div>
                                    <div class="form-inline">
                                        <label for="position">Department:</label><div id="DivDesignationReq" class="col-7 col-md-7 p-0">
                                            <input type="text" class="form-control col-12 col-md-12" id="ddlDesignationReq" name="position" placeholder="Developer" style="width:100%" />
                                        </div>
                                        <label class="col-7 col-md-7 p-0" style="display:none" id="lblDesignationReq"></label>
                                    </div>

                                    <div class="form-inline">
                                        <label for="position">Job Description:</label><div id="DivExpectedSal" class="col-7 col-md-7 p-0">
                                            <input type="text" class="form-control col-12 col-md-12" id="txtExpectedSal" name="position" style="width:100%" />
                                        </div>
                                        <label class="col-7 col-md-7 p-0" style="display:none" id="lbltxtExpectedSal"></label>
                                    </div>
                                    <div class="form-inline">
                                        <label for="position">Budget Salary:</label><div id="DivExpectedSal" class="col-7 col-md-7 p-0">
                                            <input type="text" class="form-control col-12 col-md-12" id="txtExpectedSal" name="position" style="width:100%" />
                                        </div>
                                        <label class="col-7 col-md-7 p-0" style="display:none" id="lbltxtExpectedSal"></label>
                                    </div>



                                </div>

                                <div class="pull-right col-12 col-md-6">
                                    <div class="form-inline">
                                        <label for="department">No. Of Opening:</label><div id="DivRequisitionName" class="col-7 col-md-7 p-0">
                                            <input type="text" class="form-control col-12 col-md-12" id="txtRequisitionName" name="name" placeholder="Name" style="width:100%" />
                                        </div>
                                        <label class="col-7 col-md-7 p-0" style="display:none" id="lblRequisitionName"></label>
                                    </div>
                                    <div class="form-inline">
                                        <label for="job">Pay Roll:</label>
                                        <div class="col-7 col-md-7 p-0 PayRoll" id="DivPayRoll">
                                            <div class="form-check checkCol col-6 col-md-6 pull-left">
                                                <label class="checkBox">
                                                    Salaried
                                                    <input type="radio" value="S" name="rdoPayRoll" checked />
                                                    <span class="checkmark check"></span>
                                                </label>
                                            </div>
                                            <div class="form-check checkCol col-6 col-md-6 pull-left">
                                                <label class="checkBox">
                                                    Contractual
                                                    <input type="radio" value="C" name="rdoPayRoll" />
                                                    <span class="checkmark check"></span>
                                                </label>
                                            </div>
                                        </div><label id="lblPayRoll" style="display:none"></label>
                                    </div>

                                    <div class="form-inline">
                                        <label for="job">Job Type:</label>
                                        <div class="col-7 col-md-7 p-0" id="DivJobTime">
                                            <div class="form-check checkCol col-6 col-md-6 pull-left mbl-noPadding">
                                                <label class="checkBox jobtime">
                                                    Full Time
                                                    <input type="radio" value="F" name="rdoFullTime" checked />
                                                    <span class="checkmark check"></span>
                                                </label>
                                            </div>
                                            <div class="form-check checkCol col-6 col-md-6 pull-left mbl-noPadding">
                                                <label class="checkBox jobtime">
                                                    Part Time
                                                    <input type="radio" value="P" name="rdoFullTime" />
                                                    <span class="checkmark check"></span>
                                                </label>
                                            </div>
                                        </div><label id="lblJobTime" style="display:none"></label>
                                    </div>

                                    <div class="form-inline">
                                        <label for="department">Proable Interviewee:</label>
                                        <div id="DivRequisitionName" class="col-7 col-md-7 p-0">
                                            <input type="text" class="form-control col-12 col-md-12" id="txtRequisitionName" name="name" placeholder="Name" style="width:100%" />
                                        </div>
                                        <label class="col-7 col-md-7 p-0" style="display:none" id="lblRequisitionName"></label>
                                    </div>

                                    <div class="form-inline">
                                        <label for="department">Internal Job Position:</label>
                                        <div class="form-check checkCol pull-left col-4 col-md-4" style="margin-bottom: 14px;"> <label class="checkBox smallFont mb-0"> <input type="checkbox" name="option1" checked=""> <span class="checkmark check1 mt-1"></span> </label></div>
                                        @*<div class="col-7 col-md-7 p-0">
                                            <input type="text" class="form-control col-12 col-md-12" id="txtRequisitionName" name="name" placeholder="Name" style="width:100%" />
                                        </div>*@
                                       
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                    <div class="clearfix"></div>

                    <div class="panel panel-default clearfix">
                        <div class="panel-head">
                            <div class="panel-title">
                                <h6 style="color:black!important">Requisition Competencies</h6>
                            </div>
                        </div>

                        <div class="" id="DivSkillReq">
                            <div class="commandBtn pull-left pb-1 mt-3">
                                <span onclick="AddReqDetails()"><img src="~/Content/images/add.png" alt="add icon" />Add Line</span>
                                <span onclick="RemoveReqDetails()"><img src="~/Content/images/remove-icon.png" alt="remove icon" />Remove Line</span>

                            </div>

                            <div class="formBody clearfix top-border p-0" id="requisitionTable">
                                <table id="tblRequisitionDetail" class="table greyBorder mb-4">
                                    <thead>
                                        <tr class="lightGreen">
                                            <th>Sr. No.</th>
                                            <th>Skills</th>
                                            <th>Description</th>
                                            <th>Proficiency</th>
                                            <th>Experience From</th>
                                            <th>Experience To</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default clearfix">

                        <div class="clearfix top-border">
                            <div class="col-12 col-md-6 p-0 pull-right">
                                <div class="row approval mt-4">
                                    <div class="col-6 col-md-6"><p><strong>Created By:</strong>&nbsp;<input type="text" id="txtCreatedBy" class="dashed" readonly="readonly" /> </p></div>
                                    <div class="col-6 col-md-6"><p><strong>Created Date:</strong>&nbsp;<input type="text" id="txtCreatedDate" class="dashed" readonly="readonly" /> </p></div>
                                </div>

                                <div class="row approval">
                                    <div class="col-6 col-md-6"><p><strong>Approved By:</strong>&nbsp;<input type="text" id="txtApprovedBy" class="dashed" readonly="readonly" /> </p></div>
                                    <div class="col-6 col-md-6"><p><strong>Approved Date:</strong>&nbsp;<input type="text" id="txtApprovedDate" class="dashed" readonly="readonly" /> </p></div>
                                </div>

                            </div>
                        </div>


                    </div>



                </div>
                <div class="buttonCon pull-right">
                    <input type="button" id="btnApproved" class="btn templateBg mr-1" value="Approved" style="display:none" placeholder="Approved" /><input type="button" id="btnRejected" class="btn templateBg" value="Rejected" style="display:none" placeholder="Rejected" />
                    <input type="button" id="btnSave" class="btn templateBg mr-1" value="Save" placeholder="Save" /><input type="button" id="btnSubmit" class="btn templateBg" value="Submit" placeholder="Submit" />
                    <input type="button" class="btn templateBg" onclick="BackToHome()" value="Cancel" />
                </div>
            </div>
        </div>
    </div>

    <script>

             jquery_1_11_3_min_p('#requisitionTable tbody').on('click', 'tr', function () {

                 jquery_1_11_3_min_p(this).parent().children().removeClass("selected");
                 jquery_1_11_3_min_p(this).addClass("selected");

             });
    </script>


