
@{
                /**/

                ViewBag.Title = "LeaveType";
}

<html>
<head>
    <script src="~/Content/js/ag-grid-community.min.noStyle.js"></script>
    <link href="~/Content/css/ag-grid.css" rel="stylesheet" />
    <link href="~/Content/css/ag-theme-balham.css" rel="stylesheet" />


</head>
<body>
    <div class="container-fluid gridBody">


        <div class="buttonCon pull-right">

            <button type="button" class="btn templateBg" onclick="javascript: document.location.href='../Master/HRareapage.aspx'"><img src="~/Content/images/home-icon.png" alt="home" />Home</button>
        </div>
        <h5>ALL LEAVE TYPES</h5>
        <div class="row">
            <div class="col-7 col-md-7">
                <div class="buttonCon pull-left">

                    <button type="button" class="btn templateBg" data-toggle="modal" data-target="#addNew"><img src="~/Content/images/new-icon.png" alt="new">Add New</button>

                </div>
            </div>

            <div class="col-12 col-md-8 col-sm-9 pull-right col-lg-5 top-space">
                <div class="show pull-left col-6 col-md-6 pl-5 pr-0 no-space">
                    <p>Show</p>
                    <form>
                        <div class="form-group">
                            <div class="styled-select slate">
                                <select class="form-control" id="country" name="country">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                </select>
                            </div>
                        </div>

                    </form>
                    <p>Entries</p>
                </div>
                <div class="input-group mb-2 col-6 col-md-6 pull-right pl-0">
                    <input class="form-control border-secondary" type="search" placeholder="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <img src="~/Content/images/search-icon.png" alt="search" />
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
            </div>

        </div>

        <div id="myGrid1" style="height: 200px; width:100%;" class="ag-theme-balham"></div>
        <script type="text/javascript" charset="utf-8">

            // specify the columns


            var columnDefs = [
                { headerName: "All", checkboxSelection: true, field: "all", width: 150 },
                { headerName: "Sr. No.",  field: "Sr", width: 150 },
                { headerName: "Name",  field: "name", width: 300 },
                { headerName: "Description", field: "description", width: 500 },


            ];

            // specify the data
            var rowData = [
                { all: "", checkboxSelection: true, Sr: "1", name: ".NET", description: ".NET"},
                { all: "", checkboxSelection: true, Sr: "2", name: "AX", description: "AX"},
                { all: "", checkboxSelection: true, Sr: "3", name: ".NET", description: "User Interface"},
                { all: "", checkboxSelection: true, Sr: "4", name: ".NET", description: ".NET"},
                { all: "", checkboxSelection: true, Sr: "5", name: ".NET", description: ".NET"}
            ];

            // let the grid know which columns and what data to use
            var gridOptions = {
                columnDefs: columnDefs,
                rowData: rowData,
                enableSorting: true,
                enableFilter: true
            };

            // lookup the container we want the Grid to use
            var eGridDiv = document.querySelector('#myGrid1');

            // create the grid passing in the div to use together with the columns & data we want to use
            new agGrid.Grid(eGridDiv, gridOptions);


        </script>

        <div class="buttonCon pull-left mt-3">

            <button type="button" class="btn templateBg" id="btnEdit" onclick="EditLeave();" value="Add New"><img src="~/Content/images/edit-icon.png" alt="edit" />Edit</button>


            <button type="button" class="btn templateBg" id="btnDelete" data-toggle="modal" data-target="#deletePopup"><img src="~/Content/images/delete-icon.png" alt="delete" />Delete</button>

        </div>
    </div>


    <script>
        jquery_1_11_3_min_p(document).ready(function () {

            jquery_1_11_3_min_p("#close").click(function () {

                jquery_1_11_3_min_p("#savePopup").dialog('close');
            });
            jquery_1_11_3_min_p("#no").click(function () {

                jquery_1_11_3_min_p("#deletePopup").dialog('close');
            });

            jquery_1_11_3_min_p("#close1").click(function () {

                jquery_1_11_3_min_p("#savePopup").dialog('close');
            });
            jquery_1_11_3_min_p("#addNew").click(function () {
                jquery_1_11_3_min_p(".hide").toggleClass('show');
            });
        })

        jquery_1_11_3_min_p('body').append('<div class="modal fade" id="addNew"><div class="modal-dialog modal-dialog-centered" id="Div3"><div class="modal-content"><div class="modal-header"><h5>Leave Type</h5> <button type="button" class="close" data-dismiss="modal">&times;</button></div><div class="modal-body"><form name="myForm" onsubmit="return checkFormValidation();" class="hr-form col-12 col-md-12 p-0"><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">Name:</label> <input type="text" class="form-control col-7 col-md-7" id="txtName" onkeyup="RemoveValidation()" name="username" placeholder="Name" /></div><div class="form-inline mb-2"> <label for="email" class="col-4 col-md-4">Description:</label> <input type="text" class="form-control col-7 col-md-7" onkeyup="RemoveValidation()" id="txtDescription" name="description" placeholder="Description" /></div></form></div><div class="modal-footer"> <button type="button" id="btnSave" class="btn btn-submit" onclick="SaveLeaveType();" style="padding: 4px;">SUBMIT</button></div></div></div></div>');
    </script>

</body>
</html>

