
@{
    ViewBag.Title = "Requisition";
}



<html>
<head>
    <script src="~/Content/js/ag-grid-community.min.noStyle.js"></script>
    <link href="~/Content/css/ag-grid.css" rel="stylesheet" />
    <link href="~/Content/css/ag-theme-balham.css" rel="stylesheet" />

</head>

<body>

    <div class="container-fluid p-0">


        <div class="posting">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item approvalLi  ">
                    <a class="nav-link active" data-toggle="tab" href="#requisition"
                       data-value="#add">Requisition</a>
                </li>

                <li class="nav-item approvalLi">
                    <a class="nav-link" data-toggle="tab" href="#applicants"
                       data-value="#add1">Applicants</a>
                </li>

            </ul>
        </div>
        <div class="tab-content">
            <div class="container-fluid gridBody tab-pane fade active show" id="requisition">
                <div class="buttonCon pull-right">
                    <button type="button" id="btnStatusClose" class="btn templateBg">
                        <img src="~/Content/images/close-icon.png" alt="home" />Close
                    </button>
                    <button type="button" class="btn templateBg"><img src="~/Content/images/home-icon.png" alt="home" />@Html.ActionLink("Home", "HRAreaPage", "Home")</button>

                </div>
                <h5 style="text-transform: uppercase">
                    All Requisitions
                </h5>
                <div class="row">
                    <div class="col-7 col-md-7">
                        <div class="buttonCon pull-left">

                            <button type="button" class="btn templateBg" placeholder="Add New" id="btnNewReq"
                                    onclick="NewRequisition()">
                                <img src="~/Content/images/new-icon.png" alt="new">@Html.ActionLink("Add New", "CreatenewRequisition", "HR")
                            </button>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 col-sm-9 pull-right col-lg-5 top-space">


                        <div class="input-group mb-2 col-6 col-md-6 pull-right pl-0 request">
                            <input class="form-control border-secondary" type="search" placeholder="search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
                                    <img src="~/Content/images/search-icon.png" alt="search" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                    </div>
                    <div>
                        <div id="myGrid1" style="height: 200px; width:100%;" class="ag-theme-balham"></div>
                    </div>

                    <div class="buttonCon pull-left mt-3">
                        <button type="button" class="btn templateBg" id="btnEdit" onclick="Edit()"><img src="~/Content/images/edit-icon.png" alt="edit" />Edit</button>
                        <button type="button" class="btn templateBg" id="btnDelete" data-toggle="modal" data-target="#deletePopup"><img src="~/Content/images/delete-icon.png" alt="delete" />Delete</button>
                    </div>
                </div>

                @*<script>
                        jquery_1_11_3_min_p('body').append('<div class="modal fade" id="addNew"><div class="modal-dialog modal-dialog-centered" id="Div1"><div class="modal-content"><div class="modal-header"><h5>Designation</h5> <button type="button" class="close" data-dismiss="modal">&times;</button></div><div class="modal-body"><form name="myForm" onsubmit="return checkFormValidation();" class="hr-form col-12 col-md-12" style="padding: 0px;"><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">Name:</label> <input type="text" class="form-control col-8 col-md-8" id="txtDesignation" onkeyup="RemoveClass()" name="username" placeholder="Name"></div><div class="form-inline mb-2"> <label for="Department" class="col-4 col-md-4">Department:</label> <input type="text" class="form-control col-8 col-md-8" id="ddlDepartment" name="Department" placeholder="Department"></div><div class="form-inline mb-2"> <label for="Parent" class="col-4 col-md-4">Parent:</label> <input type="text" class="form-control col-8 col-md-8" id="ddlPDepartment" name="Parent" placeholder="Parent"></div></form></div><div class="modal-footer"> <button type="button" class="btn btn-submit" onclick="SaveDesign()" style="padding: 4px;">SUBMIT</button></div></div></div></div>');



                    </script>*@

            </div>
            <div class="container-fluid gridBody tab-pane fade" id="applicants">

                <div class="row">
                    <div class="col-12 col-md-3">
                        <h5 style="text-transform: uppercase">
                            All Applicants
                        </h5>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="buttonCon pull-right col-12 col-md-7 p-0">
                            <div class="show pull-left col-12 col-md-7 p-0">
                                <p class="pull-left col-4 col-md-4 pl-0" style="margin-top: 6px;">
                                    Filter Status
                                </p>
                                <form class="pull-left col-7 col-md-7 p-0">
                                    <div class="form-group pull-left col-12 col-md-12 p-0">
                                        <div class="styled-select slate">
                                            <input type="text" id="ddlSearchStatus" />

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="pull-right col-10 col-md-5">
                                <button type="button" class="btn templateBg applicationhired">
                                    <img src="~/Content/images/hired-icon.png" alt="home" />Go
                                </button>
                                <button type="button" id="btnHired" class="btn templateBg applicationhired">
                                    <img src="~/Content/images/hired-icon.png" alt="home" />Hired
                                </button>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">

                    <div class="col-12 col-md-6">
                        <div class="row ">
                            <div class="col-4 col-md-2">
                                <div class="buttonCon pull-left ">

                                    <div class="buttonCon pull-left">

                                        <button type="button" class="btn templateBg" data-toggle="modal" data-target="#addNew"><img src="/Content/images/new-icon.png" alt="new">Add New</button>

                                    </div>


                                </div>

                            </div>
                            <div class="col-3 col-md-4 pr-0 ml-1" style="display:none">
                                <input type="text" class=" p-0" id="ddlStatus" style="height: 25px" />
                            </div>
                            <div class="col-4 col-md-4 pl-0 ml-1" style="display:none">
                                <input type="button" class=" btn templateBg " id="btnStatusChange"
                                       value="Status" style="height: 27px" />
                            </div>
                            <div class="col-5 col-md-8 ml-1" style="display: inherit;">

                                <input type="button" class=" btn templateBg ml-1" value="Schedule Interview" style="height: 27px" />

                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-6 pull-right">
                        <div class="input-group mb-2 pull-right pl-0 searchboxmargin">
                            <input class="form-control border-secondary" type="search" placeholder="search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
                                    <img src="~/Content/images/search-icon.png" alt="search">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <div>
                    </div>
                    <div>
                        <div id="myGrid2" style="height: 200px; width:100%;" class="ag-theme-balham"></div>
                    </div>
                </div>

                <div class="buttonCon pull-left mt-3">
                    <button type="button" class="btn templateBg" id="btnEdit">
                        <img src="~/Content/images/edit-icon.png" alt="edit">View
                    </button>
                    <button type="button" class="btn templateBg" onclick="javascript: document.location.href='../Master/HRareapage.aspx'">
                        <img src="~/Content/images/home-icon.png" alt="home">Home
                    </button>

                </div>
            </div>

        </div>

    </div>

    <script>



        //jquery_1_11_3_min_p('body').append('<div class="modal fade" id="applicantStatus"><div class="modal-dialog modal-dialog-centered" id="applicantpopUp"><div class="modal-content"><div class="modal-header"><h5 style="text-transform:uppercase">Applicants</h5> <button type="button" class="close" data-dismiss="modal">&times;</button></div><div class="modal-body tab-content" id="status"><div class="posting container p-0 mb-4"><ul class="nav nav-tabs" role="tablist"><li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#information"> Personal Information</a></li><li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#skills"> Skills</a></li><li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#experience"> Experience</a></li><li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#education"> Education</a></li><li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#projectsTab">Projects </a></li><li class="nav-item border-right-0"> <a class="nav-link" data-toggle="tab" href="#certificates"> Upload CV</a></li></ul></div><div class="container-fluid tab-pane fade active show" id="information"><div class="row"><form name="myForm" onsubmit="return checkFormValidation();" class="hr-form col-12 col-md-12"><div class="col-12 col-md-6 p-0 pull-left"><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">ID:</label> <input type="text" class="form-control col-8 col-md-8 ptb-4" id="idqq" name="name" placeholder="Enter ID"></div><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">Name:</label> <input type="text" class="form-control col-8 col-md-8 ptb-4" onkeyup="RemoveValidateApplicant()" id="txtEmpName" name="name" placeholder="Enter Name"></div><div class="form-inline mb-2"> <label for="dob" class="col-4 col-md-4">Date of Birth:</label> <input type="text" class="form-control col-8 col-md-8 ptb-4" onchange="RemoveValidateApplicant()" id="txtEmpDBO" name="dob" placeholder="dd/mm/yy"></div><div class="form-inline mb-2"> <label for="address" class="col-4 col-md-4">Address:</label> <input type="email" class="form-control col-8 col-md-8 ptb-4" id="txtEmpAddress" name="address" placeholder="Enter Address" /></div><div class="form-inline mb-2"> <label for="postal" class="col-4 col-md-4">Country:</label> <input type="text" class="form-control addrCon formSelect col-8 col-md-8" id="ddlCountry" /></div></div><div class="col-12 col-md-6 p-0 pull-left"><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">Email ID:</label> <input type="email" class="form-control col-8 col-md-8 ptb-4" id="txtEmpEmail" name="email" placeholder="Enter Email ID"></div><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">Mobile No.:</label> <input type="text" class="form-control col-8 col-md-8 ptb-4" id="txtMobileNo" placeholder="Enter Mobile No."></div><div class="form-inline mb-2"> <label for="gender" class="col-4 col-md-4">Gender:</label><div class="col-7 col-md-7 p-0"><div class="form-check checkCol col-6 col-md-6 pull-left"> <label class="checkBox">Male <input type="radio" value="M" name="rdoEmpGender" checked=""> <span class="checkmark check mt-1"></span> </label></div><div class="form-check checkCol col-6 col-md-6 pull-left"> <label class="checkBox">Female <input type="radio" value="F" name="rdoEmpGender"> <span class="checkmark check mt-1"></span> </label></div><div class="form-check checkCol col-6 col-md-6 pull-left"> <label class="checkBox">Others <input type="radio" value="O" name="rdoEmpGender"> <span class="checkmark check mt-1"></span> </label></div></div></div><div class="form-inline mb-2"> <label for="postal" class="col-4 col-md-4">State:</label> <input type="text" class="form-control addrCon formSelect col-8 col-md-8" id="ddlState" /></div><div class="form-inline mb-2"> <label for="postal" class="col-4 col-md-4">Postal Code:</label> <input type="text" class="form-control col-8 col-md-8 ptb-4" id="txtpcode" maxlength="6" name="postal" placeholder="Enter Postal Code" /></div></div></form></div></div><div class="container-fluid tab-pane fade" id="skills"><div class="commandBtn pull-left pb-1"><span onclick="AddSkills()" class="mr-1"><img src="../images/add.png" alt="add icon">Add Line</span><span onclick="RemoveSkills()"><img src="../images/remove-icon.png" alt="remove icon">Remove Line</span></div><table id="tblSkills" class="table greyBorder mb-0 vendorGrid"><thead><tr class="lightGreen"><th>Sr No.</th><th>Skills</th><th>Level</th><th style="width:20%">Level Date</th><th style="width:30%">Experience</th></tr></thead><tbody></tbody></table></div><div class="container-fluid tab-pane fade" id="experience"><div class="commandBtn pull-left pb-1"><span onclick="AddExperience()" class="mr-1"><img src="../images/add.png" alt="add icon">Add Line</span><span onclick="RemoveExperience()"><img src="../images/remove-icon.png" alt="remove icon">Remove Line</span></div><table id="tblExperience" class="table greyBorder mb-0 vendorGrid"><thead><tr class="lightGreen"><th>Sr No.</th><th>Employer</th><th>Designation</th><th>Address</th><th>Contact No.</th><th>Start Date</th><th>End Date</th></tr></thead><tbody></tbody></table></div><div class="container-fluid tab-pane fade" id="education"><div class="commandBtn pull-left pb-1"><span onclick="AddEducation()" class="mr-1"><img src="../images/add.png" alt="add icon">Add Line</span><span onclick="RemoveEducation()"><img src="../images/remove-icon.png" alt="remove icon">Remove Line</span></div><table id="tblEducation" class="table greyBorder mb-0 vendorGrid"><thead><tr class="lightGreen"><th>Sr No.</th><th>Qualification</th><th>Institution</th><th>Degree Name</th><th>Duration</th><th>Start Date</th><th>End Date</th></tr></thead><tbody></tbody></table></div><div class="container-fluid tab-pane fade" id="certificates"><div class="commandBtn pull-left pb-1"> <input style="display:none" type="file" name="imgInp" id="imgInp" /> <span id="browseImg" class="mr-1"><img src="../images/add.png" alt="add icon" />Attach CV </span></div> <label id="lblImage" style="display: none"> </label><div class="scrollbar-popup scroll-style"><table class="table greyBorder mb-0 vendorGrid" id="employeeeeTable"><thead><tr class="lightGreen"><th>Sr No.</th><th>Attachment</th></tr></thead><tbody></tbody></table></div></div><div class="container-fluid tab-pane fade" id="projectsTab"><div class="commandBtn pull-left pb-1"><span onclick="AddProject()" class="mr-1"><img src="../images/add.png" alt="add icon">Add Line</span><span onclick="RemoveProject()"><img src="../images/remove-icon.png" alt="remove icon">Remove Line</span></div><table id="tblProjects" class="table greyBorder mb-0 vendorGrid"><thead><tr class="lightGreen"><th>Sr No.</th><th>Project Name</th><th>Role</th><th>Description</th><th style="width:25%">Time Duration</th><th>Employer Name</th></tr></thead><tbody></tbody></table></div></div><div class="modal-footer"> <button type="button" class="btn btn-submit" onclick="SaveApplicants()">SUBMIT</button></div></div></div></div>');

        jquery_1_11_3_min_p("#browseImg").click(function () {
            jquery_1_11_3_min_p("#imgInp").trigger('click');

        });

        //bootstrap_min_js(document).ready(function () {
        //    bootstrap_min_js("#applicantStatus").click(function () {
        //        bootstrap_min_js(".hide").toggleClass('show');
        //    });
        //})

    </script>




    @*<script>
            jquery_1_11_3_min_p(document).ready(function () {

                jquery_1_11_3_min_p("#close").click(function () {

                    jquery_1_11_3_min_p("#savePopup").dialog('close');
                });
                jquery_1_11_3_min_p("#no").click(function () {

                    jquery_1_11_3_min_p("#deletePopup").dialog('close');
                });

                jquery_1_11_3_min_p("#close1").click(function () {

                    jquery_1_11_3_min_p("#savePopup").dialog('close');
                });
                jquery_1_11_3_min_p("#addNew").click(function () {
                    jquery_1_11_3_min_p(".hide").toggleClass('show');
                });
            })




            jquery_1_11_3_min_p('body').append('<div class="modal fade" id="ScheduleInterviewAction"><div class="modal-dialog modal-dialog-centered" id="employeePopup"><div class="modal-content"><div class="modal-header"><h5>Applicant Interview Venue</h5> <button type="button" class="close" data-dismiss="modal">&times;</button></div><div class="modal-body"><form name="myForm" onsubmit="return checkFormValidation();" class="hr-form col-12 col-md-12" style="padding:0px;"><div class="row"><div class="col-12 col-md-6"><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">Requisition Name:</label> <input type="text" class="form-control col-7 col-md-7" onkeyup="RemoveClass()" id="ddlRequisitionId" name="username" placeholder="Interview Name" /></div><div class="form-inline mb-2"> <label for="email" class="col-4 col-md-4">Department Name:</label> <input type="text" onkeyup="RemoveClass()" class="form-control col-7 col-md-7" id="txtDepartmentName" name="description" placeholder="Department Name" /></div><div class="form-inline mb-2"> <label for="email" class="col-4 col-md-4">Applicant Name:</label> <input type="text" class="form-control col-7 col-md-7" id="ddlApplicant" name="Location" style="margin-top:1px" placeholder="Candidate Name" /></div><div class="form-inline mb-2"> <label for="Parent" class="col-4 col-md-4">Interview Owner:</label> <input type="text" class="form-control col-7 col-md-7" id="txtIntOwner" name="Parent" placeholder="Interview Owner" /></div><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">Date:</label> <input type="text" class="form-control col-7 col-md-7" onkeyup="RemoveClass()" id="Createinterview" name="username" placeholder="Interview Name" /></div></div><div class="col-12 col-md-6"><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">Interviewer:</label> <input type="text" class="form-control col-7 col-md-7" onkeyup="RemoveClass()" id="txtInterviewer" name="username" placeholder="Interview" /></div><div class="form-inline mb-2"> <label for="email" class="col-4 col-md-4">Location:</label> <input type="text" onkeyup="RemoveClass()" class="form-control col-7 col-md-7" id="txtLocation" name="description" placeholder="Location" /></div><div class="form-inline mb-2"> <label for="email" class="col-4 col-md-4">Posting Title:</label> <input type="text" class="form-control col-7 col-md-7" id="txtPostingTitle" name="Location" style="margin-top:1px" placeholder="Posting Title" /></div><div class="form-inline mb-2"> <label for="Parent" class="col-4 col-md-4">Schedule Comments:</label> <input type="text" class="form-control col-7 col-md-7" id="txtComment" name="Parent" placeholder="Schedule Comments" /></div></div></div></form></div><div class="modal-footer"> <button type="button" id="btnSave" class="btn btn-submit" onclick="SaveApplicantInterviewVenue();" style="padding:4px;">SUBMIT</button></div></div></div></div>');
        </script>*@



    <script>
        //jquery_1_12_1_min_p(function () {
        //    jquery_1_12_1_min_p("#txtEmpDBO").datepicker();

        //});




        jquery_1_11_3_min_p("#browseImg").click(function () {
            jquery_1_11_3_min_p("#imgInp").trigger('click');

        });
    </script>

    <script>
        jquery_2_2_3_min_p(window).load(function () {

            jquery_2_2_3_min_p('.nav-tabs a:first').trigger('click');

            var hash = window.location.hash;
            hash && jquery_2_2_3_min_p('ul.nav a[href="' + hash + '"]').tab('show');

            jquery_2_2_3_min_p('.nav-tabs a').click(function (e) {
                jquery_2_2_3_min_p(this).tab('show');
                var scrollmem = jquery_2_2_3_min_p('body').scrollTop() || jquery_2_2_3_min_p('html').scrollTop();
                window.location.hash = this.hash;
                jquery_2_2_3_min_p('html,body').scrollTop(scrollmem);
            });

            /*$('.approvalLi .nav-link').click(function(){
            var linkId = $(this).attr("href");
            var hash = $(this).attr('href');
            location.hash = linkId;
            })*/
        })
    </script>
    <script type="text/javascript" charset="utf-8">

        // specify the columns


        var columnDefs = [
            { headerName: "All", checkboxSelection: true, field: "all", width: 150 },
            { headerName: "Sr. No.", field: "sl", width: 150 },
            { headerName: "Requisition Id", field: "RequisitionId", width: 200 },
            { headerName: "Name", field: "Name", width: 200 },
            { headerName: "Department", field: "Department", width: 200 },
            { headerName: "JobType", field: "JobType", width: 200 },
            { headerName: "PayRoll", field: "PayRoll", width: 200 },
            { headerName: "Status", field: "Status", width: 200 },
        ];

        // specify the data
        var rowData = [
            { all: "", checkboxSelection: true, sl: "1", RequisitionId: ".NET", Name: ".NET", Department: "Noida", JobType: ".NET", PayRoll: "letter", Status: "Hold" },
            { all: "", checkboxSelection: true, sl: "2", RequisitionId: "AX", Name: "AX", Department: "Noida", JobType: "AX", PayRoll: "letter", Status: "Hold" },
            { all: "", checkboxSelection: true, sl: "3", RequisitionId: ".NET", Name: "User Interface", Department: "Noida", JobType: ".NET", PayRoll: "letter", Status: "Hold" },
            { all: "", checkboxSelection: true, sl: "4", RequisitionId: ".NET", Name: ".NET", Department: "Noida", JobType: "Dot Net", PayRoll: "letter", Status: "Hold" },
            { all: "", checkboxSelection: true, sl: "5", RequisitionId: ".NET", Name: ".NET", Department: "Noida", JobType: "Dot Net", PayRoll: "letter", Status: "Hold" }
        ];

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowData: rowData,
            enableSorting: true,
            enableFilter: true
        };

        // lookup the container we want the Grid to use
        var eGridDiv = document.querySelector('#myGrid1');

        // create the grid passing in the div to use together with the columns & data we want to use
        new agGrid.Grid(eGridDiv, gridOptions);


    </script>
    <script type="text/javascript" charset="utf-8">

        // specify the columns


        var columnDefs = [
            { headerName: "All", checkboxSelection: true, field: "all", width: 150 },
            { headerName: "Sr. No.", field: "sl", width: 150 },
            { headerName: "Name", field: "Name", width: 200 },
            { headerName: "Requisition Id", field: "RequisitionId", width: 200 },
            { headerName: "Designation", field: "Designation", width: 200 },
            { headerName: "Status", field: "Status", width: 200 },
        ];

        // specify the data
        var rowData = [
            { all: "", checkboxSelection: true, sl: "1", Name: ".NET", RequisitionId: ".NET", Designation: "Developer", Status: "Hold" },
            { all: "", checkboxSelection: true, sl: "2", Name: "AX", RequisitionId: "AX", Designation: "Developer", Status: "Hold" },
            { all: "", checkboxSelection: true, sl: "3", Name: "User Interface", RequisitionId: ".NET", Designation: "Developer", Status: "Hold" },
            { all: "", checkboxSelection: true, sl: "4", Name: ".NET", RequisitionId: ".NET", Designation: "Developer", Status: "Hold" },
            { all: "", checkboxSelection: true, sl: "5", Name: ".NET", RequisitionId: ".NET", Designation: "Developer", Status: "Hold" }
        ];

        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowData: rowData,
            enableSorting: true,
            enableFilter: true
        };

        // lookup the container we want the Grid to use
        var eGridDiv = document.querySelector('#myGrid2');

        // create the grid passing in the div to use together with the columns & data we want to use
        new agGrid.Grid(eGridDiv, gridOptions);


    </script>

    <script>
        jquery_1_11_3_min_p(document).ready(function () {

            jquery_1_11_3_min_p("#close").click(function () {

                jquery_1_11_3_min_p("#savePopup").dialog('close');
            });
            jquery_1_11_3_min_p("#no").click(function () {

                jquery_1_11_3_min_p("#deletePopup").dialog('close');
            });

            jquery_1_11_3_min_p("#close1").click(function () {

                jquery_1_11_3_min_p("#savePopup").dialog('close');
            });
            jquery_1_11_3_min_p("#addNew").click(function () {
                jquery_1_11_3_min_p(".hide").toggleClass('show');
            });
        })

        //jquery_1_11_3_min_p('body').append('<div class="modal fade" id="addNew"><div class="modal-dialog modal-dialog-centered" id="Div3"><div class="modal-content"><div class="modal-header"><h5>Departments</h5> <button type="button" class="close" data-dismiss="modal">&times;</button></div><div class="modal-body" ><form name="myForm" onsubmit="return checkFormValidation();" class="hr-form col-12 col-md-12" style="padding:0px;"><div class="form-inline mb-2"> <label for="name" class="col-4 col-md-4">Name:</label> <input type="text" class="form-control col-7 col-md-7" onkeyup="RemoveClass()" id="txtName" name="username" placeholder="Name" /></div><div class="form-inline mb-2"> <label for="email" class="col-4 col-md-4">Description:</label> <input type="text" onkeyup="RemoveClass()" class="form-control col-7 col-md-7" id="txtDescription" name="description" placeholder="Description" /></div><div class="form-inline mb-2"> <label for="email" class="col-4 col-md-4">Location:</label> <input type="text" class="form-control col-7 col-md-7" id="ddlLocation" name="Location" style="margin-top:1px" /></div><div class="form-inline mb-2"> <label for="Parent" class="col-4 col-md-4">Parent:</label> <input type="text" class="form-control col-7 col-md-7" id="ddlParent" name="Parent" /></div></form></div><div class="modal-footer"><button type="button" id="btnSave" class="btn btn-submit" onclick="SaveDepartment();" style="padding:4px;">SUBMIT</button></div></div></div></div>');



    </script>



    <div class="modal fade applicant" id="addNew">
        <div class="modal-dialog modal-dialog-centered" id="employeePopup">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="text-transform:uppercase">Applicants</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body tab-content" id="status">
                    <div class="posting container p-0 mb-4" style="max-width: 100% !important;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#information"> Personal Information</a></li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#skills"> Skills</a></li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#experience"> Experience</a></li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#education"> Education</a></li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#projectsTab">Projects </a></li>
                            <li class="nav-item border-right-0"> <a class="nav-link" data-toggle="tab" href="#certificates"> Upload CV</a></li>
                        </ul>
                    </div>
                    <div class="container-fluid tab-pane fade active show" id="information">
                        <div class="row">
                            <form name="myForm" onsubmit="return checkFormValidation();" class="hr-form col-12 col-md-12">
                                <div class="col-12 col-md-6 p-0 pull-left">
                                    <div class="form-inline mb-2">
                                        <label for="name" class="col-4 col-md-4">Applicant ID:</label>
                                        <input type="text" class="form-control col-8 col-md-8 ptb-4" id="idqq" name="name" placeholder="Enter ID">
                                    </div>
                                    <div class="form-inline mb-2">
                                        <label for="name" class="col-4 col-md-4">Name:</label>
                                        <input type="text" class="form-control col-8 col-md-8 ptb-4" onkeyup="RemoveValidateApplicant()" id="txtEmpName" name="name" placeholder="Enter Name">
                                    </div>
                                    <div class="form-inline mb-2">
                                        <label for="dob" class="col-4 col-md-4">Date of Birth:</label>
                                        <input type="text" class="form-control col-8 col-md-8 ptb-4" onchange="RemoveValidateApplicant()" id="txtEmpDBO" name="dob" placeholder="dd/mm/yy">
                                    </div>
                                    <div class="form-inline mb-2">
                                        <label for="gender" class="col-4 col-md-4">Gender:</label>
                                        <div class="col-7 col-md-7 p-0">
                                            <div class="form-check checkCol col-6 col-md-6 pull-left">
                                                <label class="checkBox">
                                                    Male
                                                    <input type="radio" value="M" name="rdoEmpGender" checked="">
                                                    <span class="checkmark check mt-1"></span>
                                                </label>
                                            </div>
                                            <div class="form-check checkCol col-6 col-md-6 pull-left">
                                                <label class="checkBox">
                                                    Female
                                                    <input type="radio" value="F" name="rdoEmpGender">
                                                    <span class="checkmark check mt-1"></span>
                                                </label>
                                            </div>
                                            <div class="form-check checkCol col-6 col-md-6 pull-left">
                                                <label class="checkBox">
                                                    Others
                                                    <input type="radio" value="O" name="rdoEmpGender">
                                                    <span class="checkmark check mt-1"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-inline mb-2">
                                        <label for="address" class="col-4 col-md-4">Email:</label>
                                        <input type="email" class="form-control col-8 col-md-8 ptb-4" id="txtEmpAddress" name="address" placeholder="Enter Address" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 p-0 pull-left">
                                    <div class="form-inline mb-2">
                                        <label for="postal" class="col-4 col-md-4">Mobile No.:</label>
                                        <input type="text" class="form-control addrCon formSelect col-8 col-md-8" id="ddlCountry" />
                                    </div>
                                    <div class="form-inline mb-2">
                                        <label for="name" class="col-4 col-md-4">Address:</label>
                                        <input type="email" class="form-control col-8 col-md-8 ptb-4" id="txtEmpEmail" name="email" placeholder="Enter Email ID">
                                    </div>
                                    <div class="form-inline mb-2">
                                        <label for="name" class="col-4 col-md-4">State.:</label>
                                        <input type="text" class="form-control col-8 col-md-8 ptb-4" id="txtMobileNo" placeholder="Enter Mobile No.">
                                    </div>
                                    <div class="form-inline mb-2">
                                        <label for="postal" class="col-4 col-md-4">Country:</label>
                                        <input type="text" class="form-control addrCon formSelect col-8 col-md-8" id="ddlState" />
                                    </div>
                                    <div class="form-inline mb-2">
                                        <label for="postal" class="col-4 col-md-4">Postal Code:</label>
                                        <input type="text" class="form-control col-8 col-md-8 ptb-4" id="txtpcode" maxlength="6" name="postal" placeholder="Enter Postal Code" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="container-fluid tab-pane fade" id="skills">
                        <div class="commandBtn pull-left pb-1"><span onclick="AddSkills()" class="mr-1"><img src="../Content/images/add.png" alt="add icon">Add Line</span><span onclick="RemoveSkills()"><img src="../Content/images/remove-icon.png" alt="remove icon">Remove Line</span></div>
                        <table id="tblSkills" class="table greyBorder mb-0 vendorGrid">
                            <thead>
                                <tr class="lightGreen">
                                    <th>Sr No.</th>
                                    <th>Skills</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="container-fluid tab-pane fade" id="experience">
                        <div class="commandBtn pull-left pb-1"><span onclick="AddExperience()" class="mr-1"><img src="../Content/images/add.png" alt="add icon">Add Line</span><span onclick="RemoveExperience()"><img src="../Content/images/remove-icon.png" alt="remove icon">Remove Line</span></div>
                        <table id="tblExperience" class="table greyBorder mb-0 vendorGrid">
                            <thead>
                                <tr class="lightGreen">
                                    <th>Sr No.</th>
                                    <th>Employer</th>
                                    <th>Designation</th>
                                    <th>Address</th>
                                    <th>Contact No.</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="container-fluid tab-pane fade" id="education">
                        <div class="commandBtn pull-left pb-1"><span onclick="AddEducation()" class="mr-1"><img src="../Content/images/add.png" alt="add icon">Add Line</span><span onclick="RemoveEducation()"><img src="../Content/images/remove-icon.png" alt="remove icon">Remove Line</span></div>
                        <table id="tblEducation" class="table greyBorder mb-0 vendorGrid">
                            <thead>
                                <tr class="lightGreen">
                                    <th>Sr No.</th>
                                    <th>Qualification</th>
                                    <th>Institution</th>
                                    <th>Degree Name</th>
                                    <th>Duration</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="container-fluid tab-pane fade" id="certificates">
                        <div class="commandBtn pull-left pb-1">
                            <input style="display:none" type="file" name="imgInp" id="imgInp" />
                            <span id="browseImg" class="mr-1"><img src="../Content/images/add.png" alt="add icon" />Attach CV </span>
                        </div>

                        <label id="lblImage" style="display: none"> </label>
                        <div class="scrollbar-popup scroll-style">
                            <table class="table greyBorder mb-0 vendorGrid" id="employeeeeTable">
                                <thead>
                                    <tr class="lightGreen">
                                        <th>Sr No.</th>
                                        <th>Attachment</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container-fluid tab-pane fade" id="projectsTab">
                        <div class="commandBtn pull-left pb-1"><span onclick="AddProject()" class="mr-1"><img src="../Content/images/add.png" alt="add icon">Add Line</span><span onclick="RemoveProject()"><img src="../Content/images/remove-icon.png" alt="remove icon">Remove Line</span></div>
                        <table id="tblProjects" class="table greyBorder mb-0 vendorGrid">
                            <thead>
                                <tr class="lightGreen">
                                    <th>Sr No.</th>
                                    <th>Project Name</th>
                                    <th>Employer Name</th>
                                    <th>Role</th>
                                    <th Style="width:25%">Team Size</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-submit" onclick="SaveApplicants()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>



</body>
</html>

