
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <script>
        $(window).load(function () {
            //  alert("window load occurred!");
            var color = window.localStorage.getItem('color-key');
            // alert(color);
            $('body').addClass(color);
        });
    </script>
</head>
<body>
    <div>
        <div class="wrapper">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-5 mx-auto col-md-5 logBox">
                        <!--<img class="img-fluid" src="images/signin.jpg" alt="">-->
                        <div class="logo"><img class="img-fluid" src="images/logo.png" alt="" /></div>
                        <div class="mainCon">

                            <div class="resetCon col-12 col-md-12">
                                <h6>Reset Password</h6>
                                <div class="loginBody">
                                    <form>
                                        <div class="form-group">
                                            <label for="usr">Enter your Email or User ID</label>
                                            @*<input type="text" class="form-control" id="usr" name="username" placeholder="Enter email or user ID">*@
                                            <input name="Email" type="text" id="txtEmail" onkeypress="Removemsg();" class="form-control "
                                                   runat="Server" placeholder="Enter email or user ID" />
                                        </div>

                                        <input type="submit" class="btn templateBg" value="SUBMIT" placeholder="SUBMIT">
                                        @*<asp:Button class="btn templateBg" ID="btnAgree" runat="server" placeholder="SUBMIT"
                                                    Text="SUBMIT" onclick="btnAgree_Click" />*@
                                    </form>
                                </div>
                                <div class="resetfooter">
                                    <p>Back to @Html.ActionLink("Sign In", "Login", "Login", new { @class = "createAcc" })</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
