
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Polyfill(s) for older browsers -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script>var jquery_1_11_3_min_p = jQuery.noConflict();</script>
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <script>var jquery_2_2_3_min_p = jQuery.noConflict();</script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script>var bootstrap_min_js = jQuery.noConflict();</script>
    <script src="~/Content/js/script.js"></script>
    <script type="text/javascript" language="javascript">

        jquery_1_11_3_min_p(document).ready(function () {
            jquery_1_11_3_min_p('#txtUsername').keypress(function () {
                if (jquery_1_11_3_min_p('#txtUsername').val() == '') {
                    jquery_1_11_3_min_p("#txtUsername").removeClass('validate');
                    jquery_1_11_3_min_p('#lblDispMessage').text('');
                }

            });



            jquery_1_11_3_min_p('#txtpassword').keypress(function () {
                if (jquery_1_11_3_min_p('#txtpassword').val() == '') {
                    jquery_1_11_3_min_p("#txtpassword").removeClass('validate');
                    jquery_1_11_3_min_p('#lblDispMessage').text('');
                }

            });
            sessionStorage.setItem('LegalId', "0");
            sessionStorage.setItem('ProjectId', "0");
        });

        function checkValidations() {
            var Validation = false;
            if (document.getElementById("<%=txtUsername.ClientID%>").value == '') {
                //  alert('Please Enter Username');
                jquery_1_11_3_min_p("#txtUsername").addClass("validate");
                // document.getElementById("<%=txtUsername.ClientID%>").addClass("validate");
                document.getElementById('txtUsername').focus();
                Validation = true;
            }

            if (document.getElementById("<%=txtpassword.ClientID%>").value == '') {
                //  alert('Please Enter Password');
                jquery_1_11_3_min_p("#txtpassword").addClass("validate");
                document.getElementById('txtpassword').focus();

                Validation = true;
            }
            // SetDefaultValue();
            if (Validation == true) {
                return false;
            }
            else {
                return true;

            }
        }

    </script>
    <script>
        jquery_1_11_3_min_p(window).load(function () {
            //  alert("window load occurred!");
            var color = window.localStorage.getItem('color-key');
            // alert(color);
            jquery_1_11_3_min_p('body').addClass(color);
        });
    </script>
</head>
<body>
    <div>
        <div class="wrapper">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-8 mx-auto col-md-8 logBox">
                        
                        <div class="logo"><img class="img-fluid" src="~/Content/images/logo.png" alt="" /></div>
                        <div class="mainCon">

                            <div class="leftCon col-6 col-md-6">
                                <h2>Welcome to Our Site</h2>
                                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>
                            </div>
                            <div class="rightCon col-6 col-md-6">
                                <h6>Sign In</h6>
                                <div class="loginBody">
                                    <form name="myForm" onsubmit="return checkFormValidation();">
                                        <div class="form-group">
                                            <label for="usr">User ID</label>
                                            <input type="text" class="form-control" id="usr" name="username" placeholder="Enter Email ID">

                                        </div>
                                        <div class="form-group">
                                            <label for="pwd">Password</label>
                                            <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter Password">
                                        </div>
                                        <button type="submit" class="btn templateBg">@Html.ActionLink("SIGN IN", "HRAreaPage", "Home")</button>
                                    </form>
                                </div>
                               
                                    <div class="loginfooter">
                                        <p>@Html.ActionLink("Forgot User ID or password?", "ForgetPassword", "Login", new { @class = "createAcc" })</p>
                                      
                                    </div>
                             
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
