
@{
    ViewBag.Title = "EmpPayElements";
}

<body>
   

        <div class="container-fluid gridBody">
            <div class="buttonCon pull-right">
                @*<button type="submit" class="btn templateBg" onClick="javascript: document.location.href='HR-form.html'"><img src="~/Content/images/back-icon.png" alt="back" />Back</button>*@
                <button type="button" class="btn templateBg"><img src="~/Content/images/home-icon.png" alt="home" />@Html.ActionLink("Home", "HRAreaPage", "Home")</button>
            </div>
            <h5 style="text-transform:uppercase">Employee Pay Elements</h5>
            <div class="row">
                <div class="col-7 col-md-7">
                    <div class="buttonCon pull-left">
                        @*<button type="button" class="btn templateBg"><img src="~/Content/images/new-icon.png" alt="new" />@Html.ActionLink("Add New", "CreateComplaint", "HR")</button>*@
                    </div>
                </div>
                <div class="col-5 col-md-5 pull-right">
                    <div class="input-group mb-2 col-6 col-md-6 pull-right pl-0">
                        <input class="form-control border-secondary" type="search" placeholder="search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"> <img src="~/Content/images/search-icon.png" alt="search" /> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="myGrid2" style="height: 200px; width:100%;" class="ag-theme-balham "></div>
            </div>
            <script type="text/javascript" charset="utf-8">

                // specify the columns


                var columnDefs = [
                    { headerName: "All", checkboxSelection: true, field: "all", width: 150 },
                    { headerName: "Sr.No", field: "sl", width: 150 },
                    { headerName: "Employee Name", field: "employeeName", width: 200 },
                    { headerName: "Designation", field: "designation", width: 200 },
                    { headerName: "Department", field: "department", width: 200 },
                    { headerName: "Manager", field: "manager", width: 200 },
                    { headerName: "Complaints/Grievances", field: "complaints", width: 250 },
                    { headerName: "Complaints/Grievances Against", field: "complaintsAgainst", width: 300 },
                    { headerName: "Status", field: "status", width: 150 }

                ];

                // specify the data
                var rowData = [
                    { checkboxSelection: true, sl: "1", employeeName: "Rakesh", designation: "Developer", department: ".Net", manager: "Rakesh", complaints: "Harrassment", complaintsAgainst: "Abhishek", status: "No"},
                    { checkboxSelection: true, sl: "2", employeeName: "Akash", designation: "Developer", department: ".Net", manager: "Rakesh", complaints: "Bad Behaviour", complaintsAgainst: "Mohan", status: "Yes"},
                    { checkboxSelection: true, sl: "3", employeeName: "Mohan", designation: "Developer", department: ".Net", manager: "Rakesh", complaints: "Molestation", complaintsAgainst: "Akash", status: "No"},
                    { checkboxSelection: true, sl: "4", employeeName: "Jack", designation: "Developer", department: ".Net", manager: "Rakesh", complaints: "Harrassment", complaintsAgainst: "Abhishek", status: "Yes"},
                    { checkboxSelection: true, sl: "5", employeeName: "Mack", designation: "Developer", department: ".Net", manager: "Rakesh", complaints: "Harrassment", complaintsAgainst: "Mohan", status: "No"}
                ];

                // let the grid know which columns and what data to use
                var gridOptions = {
                    columnDefs: columnDefs,
                    rowData: rowData,
                    enableSorting: true,
                    enableFilter: true
                };

                // lookup the container we want the Grid to use
                var eGridDiv = document.querySelector('#myGrid2');

                // create the grid passing in the div to use together with the columns & data we want to use
                new agGrid.Grid(eGridDiv, gridOptions);


            </script>
            @*<div class="buttonCon pull-left mt-3">
                    <button type="button" id="btnEdit" class="btn templateBg"><img src="~/Content/images/edit-icon.png" alt="edit" />Edit</button>
                    <button type="submit" class="btn templateBg" data-toggle="modal" data-target="#successPopup"><img src="~/Content/images/save-icon.png" alt="save" />Save</button>
                    <button type="button" id="btnDelete" class="btn templateBg" data-toggle="modal" data-target="#deletePopup"><img src="~/Content/images/delete-icon.png" alt="delete" />Delete</button>
                    <button type="submit" class="btn templateBg"><img src="~/Content/images/download-icon.png" alt="download" />Download</button>
                    <button type="submit" class="btn templateBg"><img src="~/Content/images/download-icon.png" alt="download" />Reject</button>
                    <button type="submit" class="btn templateBg"><img src="~/Content/images/download-icon.png" alt="download" />Accept</button>
                    <button type="submit" class="btn templateBg" data-toggle="modal" data-target="#successPopup"><img src="~/Content/images/save-icon.png" alt="save" />Leave</button>
                </div>*@





        </div>
        
        

        <div id="gvDiv" style="width:100%" class="mt-2"></div>
        <table class="table greyBorder mb-4 mt-2">
            <thead>

            </thead>
            <tbody></tbody>
        </table>

        <div class="buttonCon pull-right mt-3">
            <button type="button" class="btn templateBg" data-toggle="modal" onclick="javascript: document.location.href='../HRPayroll/leave-balance-employee.aspx'" style="display:none;">Day Wise Report</button>
        </div>
  


</body>


