
@{
    ViewBag.Title = "claimReimbursement";
}

<div class="container-fluid gridBody">

    <div class="row">
        <div class="col-12 col-md-11">
            <h5 style="text-transform: uppercase">Claim/Reimbursement</h5>
        </div>

        <div class="buttonCon pull-right">
            <button type="button" class="btn templateBg"><img src="~/Content/images/home-icon.png" alt="home" />@Html.ActionLink("Home", "HRAreaPage", "Home")</button>

        </div>

    </div>

    <div class="row mt-3">

        <div class="col-12 col-md-9">
            <div class="row ">
                <div class="col-12 col-md-6">
                    <div class="buttonCon pull-left ">

                        <button type="button" class="btn templateBg" ><img src="~/Content/images/new-icon.png" alt="new">Add New</button>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-12 col-md-3 pull-right">
            <div class="input-group mb-2 pull-right pl-0 searchboxmargin">
                <input class="form-control border-secondary" type="search" placeholder="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <img src="~/Content/images/search-icon.png" alt="search">
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div>
        </div>
        <div>
            <div id="myGrid2" style="height: 200px; width:100%;" class="ag-theme-balham"></div>
        </div>
    </div>

    <div class="buttonCon pull-right mt-3">
        <button type="button" class="btn templateBg" id="btnEdit">Submit</button>

    </div>
</div>
<script type="text/javascript" charset="utf-8">

    // specify the columns


    var columnDefs = [
        { headerName: "All", checkboxSelection: true, field: "all", width: 80 },
        { headerName: "Sr. No.", field: "sl", width: 100 },
        { headerName: "Claim Type", field: "claimType", width: 150, editable: true },
        { headerName: "From Date", field: "FromDate", width: 150, editable: true },
        { headerName: "To Date", field: "ToDate", width: 150, editable: true },
        { headerName: "Receipt No.", field: "ReceiptNo", width: 150, editable: true },
        { headerName: "Amount", field: "amount", width: 150, editable: true },
        { headerName: "Attachment", field: "Attachment", width: 150, editable: true },
        { headerName: "Status", field: "Status", width: 100, editable: true }
    ];

    // specify the data
    var rowData = [
        { all: "", checkboxSelection: true, sl: "1", claimType: "Conveyance", FromDate: "01/12/2018", ToDate: "05/12/2018", ReceiptNo: "Receipt 001", amount: "Rs.2000", Attachment:"abc.png", Status:"Yes" },
        { all: "", checkboxSelection: true, sl: "2", claimType: "Conveyance", FromDate: "01/12/2018", ToDate: "05/12/2018", ReceiptNo: "Receipt 001", amount: "Rs.2000", Attachment: "def.png", Status: "No" },
        { all: "", checkboxSelection: true, sl: "3", claimType: "Conveyance", FromDate: "01/12/2018", ToDate: "05/12/2018", ReceiptNo: "Receipt 001", amount: "Rs.2000", Attachment: "ghi.png", Status: "Yes" },
        { all: "", checkboxSelection: true, sl: "4", claimType: "Conveyance", FromDate: "01/12/2018", ToDate: "05/12/2018", ReceiptNo: "Receipt 001", amount: "Rs.2000", Attachment: "jkl.png", Status: "No" },
        { all: "", checkboxSelection: true, sl: "5", claimType: "Conveyance", FromDate: "01/12/2018", ToDate: "05/12/2018", ReceiptNo: "Receipt 001", amount: "Rs.2000", Attachment: "abcd.png", Status: "Yes" }];

    // let the grid know which columns and what data to use
    var gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        enableSorting: true,
        enableFilter: true
    };

    // lookup the container we want the Grid to use
    var eGridDiv = document.querySelector('#myGrid2');

    // create the grid passing in the div to use together with the columns & data we want to use
    new agGrid.Grid(eGridDiv, gridOptions);


</script>

