



<div class="container-fluid gridBody">

    <h5>HR AREA PAGE</h5>

    <div class="center-block">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <label id="lblmsg" style="display: none">
            </label>
            <asp:HiddenField ID="lblUserId" runat="server" />
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Human Resource
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse  in " role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="hrListing">
                            <li>
                                <a href="organizationList.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/company-icon1.png" alt="" /></span>

                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="location.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/location-icon1.png" alt="" /></span>
                                    Location
                                </a>
                            </li>

                            <li>
                                <a href="departmentList.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/department-icon1.png" alt="" /></span>
                                    Department
                                </a>
                            </li>
                            <li>
                                <a href="designationList.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/designation-icon1.png" alt="" /></span>
                                    Designation
                                </a>
                            </li>
                            <li>
                                <a href="skills.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/skill-icon1.png" alt="" /></span>
                                    Skills
                                </a>
                            </li>
                            <li>
                                <a href="employeeList.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/employee-icon1.png" alt="" /></span>
                                    Employee
                                </a>
                            </li>
                            <li>
                                <a href="requisitionList.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/recruitment-icon1.png" alt="" /></span>
                                    Recruitment
                                </a>
                            </li>
                            <li>
                                <a href="leaveType.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/leave-icon1.png" alt="" /></span>
                                    Leave Type
                                </a>
                            </li>
                            <li>
                                <a href="leaveEmployee.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/leave-icon1.png" alt="" /></span>
                                    Leave Employee
                                </a>
                            </li>
                            <li>
                                <a href="leaveAdmin.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/leave-icon1.png" alt="" /></span>
                                    Leave Admin
                                </a>
                            </li>
                            <li>
                                <a href="monitorAttendance.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/approval-icon1.png" alt="" /></span>
                                    Monitor Attendance
                                </a>
                            </li>
                            <li>
                                <a href="errorPage.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/team-icon1.png" alt="" /></span>
                                    Team
                                </a>
                            </li>
                            <li>
                                <a href="errorPage.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/approval-icon1.png" alt="" /></span>
                                    Approval Process
                                </a>
                            </li>

                            <li>
                                <a href="errorPage.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/appraisal-icon1.png" alt="" /></span>
                                    Appraisal
                                </a>
                            </li>
                            <li>
                                <a href="errorPage.aspx">
                                    <span class="areaIcon"><img src="~/Content/images/emp-request-icon1.png" alt="" /></span>
                                    Employee Request
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

