
@{
    ViewBag.Title = "SetupCriteria";
}

<div class="container-fluid gridBody">
    <div class="buttonCon pull-right">
        <button type="submit" class="btn templateBg"><img src="~/Content/images/back-icon.png" alt="back" />@Html.ActionLink("Back", "EventAndTraining", "Home")</button>
        <button type="button" class="btn templateBg"><img src="~/Content/images/home-icon.png" alt="home" />@Html.ActionLink("Home", "HRAreaPage", "Home")</button>
    </div>

    <div class="container p-0" style="overflow:hidden">
        <div class="formBody clearfix p-0 mt-1">
            <form id="event">
                <div class="pull-left col-12 col-md-6 right-border pr-0 pb-4">
                    <h5>Event &amp; Training</h5>
                    <div class="form-inline">
                        <label for="Event ID">Event ID:</label>
                        <div class="col-7 col-md-7 p-0">
                            <input type="text" class="form-control col-12 col-md-12" name="Employee Name" placeholder="Event ID" readonly style="width:100%" />
                        </div>

                    </div>


                    <div class="form-inline">
                        <label for="Title">Title:</label><div class="col-7 col-md-7 p-0">
                            <input type="text" class="form-control col-12 col-md-12" id="ddlDesignationReq" name="position" placeholder="Event Title" style="width:100%" />
                        </div>

                    </div>
                    <div class="form-inline">
                        <label for="Description">Description:</label><div class="col-7 col-md-7 p-0">
                            <input type="text" class="form-control col-12 col-md-12" id="ddlDepartmentReq" name="Description" placeholder="Event Description" style="width:100%" />
                        </div>

                    </div>
                    <div class="form-inline">
                        <label for="Description">Location:</label><div class="col-7 col-md-7 p-0">
                            <input type="text" class="form-control col-12 col-md-12" id="lcation" name="Location" placeholder="Location" style="width:100%" />
                        </div>

                    </div>
                    <div class="form-inline">
                        <label for="Description">Vendor (If Any):</label><div class="col-7 col-md-7 p-0">
                            <input type="text" class="form-control col-12 col-md-12" id="vendor" name="Description" placeholder="Vendor Name" style="width:100%" />
                        </div>

                    </div>
                    <div class="form-inline">
                        <label for="Date">Date:</label><div class="col-7 col-md-7 p-0">
                            <input type="text" class="form-control col-12 col-md-12" id="datepicker" name="txtDOB" placeholder="dd/mm/yyyy" style="width:100%" />
                        </div>

                    </div>
                    <div class="form-inline">
                        <label for="Time">Time:</label><div class="col-7 col-md-7 p-0">
                            <input type="text" class="form-control col-12 col-md-12" id="time" name="Location" placeholder="09:00AM - 06:00PM" style="width:100%" />
                        </div>

                    </div>
                    <div class="form-inline">
                        <label for="Duration">Duration:</label><div class="col-7 col-md-7 p-0">
                            <input type="text" class="form-control col-12 col-md-12" id="duration" name="Description" placeholder="09Hrs" style="width:100%" />
                        </div>

                    </div>



                </div>

                <div class="pull-right col-12 col-md-6 pr-0 scrollbar scroll-style">
                    <h5 class="pb-0">Setup Criteria</h5>
                    <div class="form-inline">
                        <label for="Mandatory" class="col-4 col-md-4 p-0">Mandatory to attend:</label>
                        <div class="col-4 col-md-4 p-0">
                            <div class="checkCol pull-left" style="margin-bottom: 16px;">
                                <label class="checkBox smallFont mb-0">
                                    <input type="checkbox" name="chkFlatRateE">
                                    <span class="checkmark check1 checkmark1"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="seperator"></div>
                    <div class="form-inline">
                        <label style="font-weight:bold">Mail Preference:</label>
                    </div>
                    <div class="col-12 col-md-12 p-0 clearfix">
                        <div class="col-12 col-md-12 pl-0">
                            <div class="form-inline">
                                <div class="col-1 col-md-1 p-0">
                                    <div class="checkCol pull-left" style="margin-bottom: 16px;">
                                        <label class="checkBox smallFont mb-0">
                                            <input type="checkbox" name="chkFlatRateE">
                                            <span class="checkmark check1 checkmark1"></span>
                                        </label>
                                    </div>
                                </div>
                                <label for="Level Wise" class="col-3 col-md-3 p-0">Level Wise:</label>

                                <select class="form-control col-7 col-md-7 p-0" name="quantity" id="level" style="height: 26px; border: 1px solid #6694b4;">
                                    <option value="Select">Select</option>
                                    <option value="1">Level 1</option>
                                    <option value="2">Level 2</option>
                                    <option value="3">Level 3</option>
                                    <option value="4">Level 4</option>
                                </select>

                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-12 p-0 clearfix">

                        <div class="col-12 col-md-12 pl-0">
                            <div class="form-inline">
                                <div class="col-1 col-md-1 p-0">
                                    <div class="checkCol pull-left" style="margin-bottom: 16px;">
                                        <label class="checkBox smallFont mb-0">
                                            <input type="checkbox" name="chkFlatRateE">
                                            <span class="checkmark check1 checkmark1"></span>
                                        </label>
                                    </div>
                                </div>
                                <label for="Level Wise" class="col-3 col-md-3 p-0">Employee:</label>

                                <select class="form-control col-7 col-md-7 p-0" name="quantity" id="level" style="height: 26px; border: 1px solid #6694b4;">
                                    <option value="Select">Select</option>
                                    <option value="1">Employee 1</option>
                                    <option value="2">Employee 2</option>
                                    <option value="3">Employee 3</option>
                                    <option value="4">Employee 4</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="form-inline pull-left col-6 col-md-6 p-0" style="overflow:hidden; height:20px">
                        <div class="col-2 col-md-2 p-0">
                            <div class="checkCol pull-left" style="margin-bottom: 16px;">
                                <label class="checkBox smallFont mb-0"> <input type="checkbox" name="option1" checked=""> <span class="checkmark check1"></span> </label>
                            </div>
                        </div>
                        <label for="Level Wise" class="col-4 col-md-4 p-0">All</label>


                    </div>
                    <div class="clearfix"></div>
                    <div class="seperator"></div>
                    <div class="form-inline">
                        <label for="Cost" class="col-4 col-md-4 p-0">Cost:</label>
                        <div class="col-4 col-md-4 p-0">
                            <div class="checkCol pull-left" style="margin-bottom: 16px;">
                                <label class="checkBox smallFont mb-0">
                                    <input type="checkbox" name="chkFlatRateE">
                                    <span class="checkmark check1 checkmark1"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-12 p-0" style="overflow:hidden">
                        <div class="pull-left col-6 col-md-6 pl-0">
                            <div class="form-inline">

                                <label for="Cost Title" class="col-4 col-md-4 p-0">Cost Title:</label>

                                <input type="text" class="form-control col-8 col-md-8" name="Cost Title" placeholder="Cost Title" style="width:100%" />


                            </div>
                        </div>
                        <div class="pull-left col-6 col-md-6">
                            <div class="form-inline">

                                <label for="Amount" class="col-4 col-md-4 p-0">Amount:</label>
                                <input type="text" class="form-control col-8 col-md-8" name="Amount" placeholder="Rs.XXXX" style="width:100%" />


                            </div>
                        </div>
                    </div>

                    <div class="commandBtn pull-left pb-1 mt-2 mb-1 mr-0">
                        <span><img src="../Content/images/add.png" alt="add icon">Add More</span>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-12 col-md-12 clearfix addBox">
                        <div class="pull-left col-6 col-md-6 pl-0">
                            <div class="form-inline">

                                <label for="Cost Title" class="col-4 col-md-4 p-0">Cost Title:</label>

                                <input type="text" class="form-control col-8 col-md-8" name="Cost Title" placeholder="Cost Title" style="width:100%" />


                            </div>
                        </div>
                        <div class="pull-left col-6 col-md-6">
                            <div class="form-inline">

                                <label for="Amount" class="col-4 col-md-4 p-0">Amount:</label>
                                <input type="text" class="form-control col-8 col-md-8" name="Amount" placeholder="Rs.XXXX" style="width:100%" />


                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-inline">
                        <label for="Response Required" class="col-4 col-md-4 p-0">Response Required:</label>
                        <div class="col-4 col-md-4 p-0">
                            <div class="checkCol pull-left" style="margin-bottom: 16px;">
                                <label class="checkBox smallFont mb-0">
                                    <input type="checkbox" name="chkFlatRateE">
                                    <span class="checkmark check1 checkmark1"></span>
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-12 p-0" style="overflow:hidden">
                        <div class="pull-left col-1 col-md-1 pl-0" style="margin-top: 7px !important;">
                            <div class="checkCol pull-left">
                                <label class="checkBox smallFont mb-0">
                                    <input type="checkbox" name="chkFlatRateE">
                                    <span class="checkmark check1 checkmark1"></span>
                                </label>
                            </div>
                        </div>
                        <div class="pull-left col-10 col-md-10">
                            <div class="eventBtn pull-left mr-2">
                                <span>Yes</span>

                            </div>
                            <div class="eventBtn pull-left mr-2">
                                <span>No</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 p-0 mt-2" style="overflow:hidden">
                        <div class="pull-left col-1 col-md-1 pl-0" style="margin-top: 7px !important;">
                            <div class="checkCol pull-left">
                                <label class="checkBox smallFont mb-0">
                                    <input type="checkbox" name="chkFlatRateE">
                                    <span class="checkmark check1 checkmark1"></span>
                                </label>
                            </div>
                        </div>
                        <div class="pull-left col-10 col-md-10">
                            <div class="eventBtn pull-left mr-2">
                                <span>Accept</span>

                            </div>
                            <div class="eventBtn pull-left mr-2">
                                <span>Decline</span>

                            </div>
                            <div class="eventBtn pull-left mr-2">
                                <span>Tentative</span>

                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-12 p-0 mt-2" style="overflow:hidden">
                        <div class="pull-left col-1 col-md-1 pl-0" style="margin-top: 7px !important;">
                            <div class="checkCol pull-left">
                                <label class="checkBox smallFont mb-0">
                                    <input type="checkbox" name="chkFlatRateE">
                                    <span class="checkmark check1 checkmark1"></span>
                                </label>
                            </div>
                        </div>
                        <div class="pull-left col-10 col-md-10">
                            <div class="eventBtn pull-left mr-2">
                                <span>I'll Attend</span>

                            </div>
                            <div class="eventBtn pull-left mr-2">
                                <span>I'll Not Attend</span>

                            </div>


                        </div>
                    </div>

                    <div class="commandBtn pull-left pb-1 mt-3 mb-1 mr-0">
                        <span><img src="../Content/images/add.png" alt="add icon">Add More</span>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-12 col-md-12 clearfix addBox">
                        <div class="pull-left col-1 col-md-1 pl-0" style="margin-top: 7px !important;">
                            <div class="checkCol pull-left">
                                <label class="checkBox smallFont mb-0">
                                    <input type="checkbox" name="chkFlatRateE">
                                    <span class="checkmark check1 checkmark1"></span>
                                </label>
                            </div>
                        </div>
                        <div class="pull-left col-10 col-md-10">
                            <div class="eventBtn pull-left mr-2">
                                <span>Interested</span>

                            </div>
                            <div class="eventBtn pull-left mr-2">
                                <span>Not Interested</span>

                            </div>
                            <div class="eventBtn pull-left mr-2" style="margin-top: 0px;">
                                <img src="~/Content/images/add-icon-lg.png" />
                            </div>

                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="buttonCon pull-left mt-3">
            <button type="submit" class="btn templateBg">Save</button>
            <button type="submit" class="btn templateBg" >Submit</button>
            <button type="submit" class="btn templateBg">Cancel</button>
        </div>

    </div>

    </div>
<script>
    jquery_1_12_1_min_p(function () {
        jquery_1_12_1_min_p("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1920:2018'
        });
        
    });
</script>
